:root {
    --green: rgba(0, 128, 0, 0.7);
    --theme: #eee;
}
* {
    padding: 0;
    margin: 0;
    transition: 0.3s ease;
    font-family: monospace;
}
body {
    background-color: rgba(0, 0, 0, 0.9);
}
#form {
    position: absolute;
    min-width: 50vw;
    min-height: 70vh;
    margin-top: 15vh;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: var(--theme);
    border-radius: 25px;
    box-shadow: inset 0px 0px 5px black;
}

.input {
    display: block;
    position: relative;
    top: 10vh;
    width: 70%;
    height: 5rem;
    font-size: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin-bottom: 5vh;
}
.input:not([type='submit']) {
    text-indent: 10px;
}
.input:focus:not([type='submit']) {
    background-color: rgba(255, 0, 0, 0.8);
    border: 4px solid black;
}
.input:hover:not([type='submit'], .input:focus) {
    background-color: rgba(255, 0, 0, 0.1);
}
#password {
    margin-bottom: 0;
}
#submit {
    margin-top: 5vh;
    height: 5rem;
    text-align: center;
    width: 40%;
}
#submit:focus {
    background-color: var(--green);
}
#submit:hover {
    background-color: var(--green);
}

/* @media screen and (min-width:820px) {
.input {
    font-size: 4rem ;
    background-color: aqua;
}
} */

#msg {
    display: none;
    position: absolute;
    background-color: #aaa;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 3rem;
    top: 5vh;
    padding: 8px 50px 5px 50px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: inset 0px 0px 5px black;
    white-space: nowrap;
}

#msg:hover {
    color: red;
    background-color: #555;
}
